version: '2'

services:
  seafile:
    ports:
      - "9080:80"
    environment:
      SEAFILE_URL: 'https://seafile.example.com'
#    volumes:
#      - /docker/seafile:/seafile
#  mysql:
#    environment:
#      MYSQL_ROOT_PASSWORD: 'my-root-secret'
